#faq {
  margin: 50px 30px;
}

#faq > h2 {
  text-align: center;
  margin-bottom: 40px;
}

details {
  border: 1px solid var(--text-color-1);
  padding: 10px;
  margin-bottom: 5px;
}

summary {
  font-size: larger;
}

details p {
  border-top: 2px solid var(--text-color-1);
  font-size: 12pt;
}
